@model IEnumerable<PosterModels.Poster>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BinaryVersionOfImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ImgPath)*@
                    @if (!string.IsNullOrWhiteSpace(item.ImgPath)) {
                        <img src = "@item.ImgPath" alt="image of a poster called @item.Title" style="width:150px;"/>
                    }
                    else
                    {
                        <img src="https://talkimages.blob.core.windows.net/mssaccad13/noImage.png" alt="No image" style="height:85px;" />
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.BinaryVersionOfImage)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
